@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001a49;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

/*hero de la página de inicio*/
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/2_decoracion_de_interiores_moderna.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*hero de la página de sobrenosotros*/
.hero1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/cocina.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*hero de la página de blog*/
.hero2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/salon.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*hero de la página de contacto*/
.hero3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/salon2.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*hero de la página de presupuesto*/
.hero4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/salon3.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*hero de la página de administración*/
.hero5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/almacen.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* aquí vamos a dar estilo al nav*/

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}


/*aquí vamos a dar estilo al hero*/

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3em;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}

/* aquí vamos a dar estilo al about*/

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;

}

/*aquí empezamos con presupuesto*/

.presupuesto {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.presupuesto__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.presupuesto__picture {
    max-width: 500px;
}

.presupuesto__paragraph {
    line-height: 1, 7;
    margin-bottom: 15px;
}

.presupuesto__img {
    width: 100%;
    display: block;
}

/*estilos de servicioss*/

.servicios {
    text-align: center;
}

.servicios__table {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.servicios__element {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-servicios: #1d293f;
    --bg-cta: #fff;
    --color-cta: #5454d4;
    --color-items: #696871;
}


.servicios__element--best {
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-servicios: #fff;
    --bg-cta: #9f3919;
    --color-cta: #fff;
    --color-items: #fff;
    width: 370px;
    padding: 60px 40px;
}

.servicios__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.servicios__servicios {
    font-size: 2.5rem;
    color: var(--color-servicios);
}

.servicios__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.servicios__cta {
    background-color: var(--bg-cta);
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Estilo ampliado del div */
.servicios__element.ampliado {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    z-index: 2;
}

/* Estilo del botón "Cerrar" dentro del div ampliado */
.servicios__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

/*aquí vamos a dar estilo a la sección de los testimonios*/

.testimony {
    background-color: #e5e5f7;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

/*Footer!!!*/

.footer {
    background-color: #1d293f;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__imputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__imput {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padd-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

/*Aquí ponemos el tamaño del mapa de leaflet*/

#map {
    height: 350px;
    width: 900px;
}

/*estilos del formulario de contacto*/

.formulario {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__imput {
    background-color: #fff;
    height: 50px;
    width: 100%;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form__imput1 {
    background-color: #fff;
    height: 150px;
    width: 100%;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    width: 150px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #e5e5f7;
}

/* Estilos para el contenido del modal */
.modal__contenido {
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de cerrar */
.modal__cerrar {

    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;


}

/*estilo de la validación de registro*/

.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #1e6;
    color: #fff;
    margin-top: 15px;
}

.bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff;
}


/*estilo de las fotos del blog*/

.servicios__foto {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: .3s;

    position: relative;
    display: inline-block;
}

.servicios__foto:hover {
    transform: scale(1.3);
    z-index: 1;
}

.servicios__items img {
    transition: transform 0.3s ease-in-out;
}

.servicios__items__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.servicios__items__modal img {
    max-height: 80vh;
    max-width: 80vw;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/*aquí vamos a dar estilo al menu hamburguesa para q sea responsive*/

@media (max-width:700px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #1d293f;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;

    }

    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }

    .presupuesto__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .presupuesto__picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }


    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__imput {
        flex: 1;
    }

    #map {
        height: 300px;
        width: 500px;
    }

    .form-container {
        max-width: 100%; /* Establece el ancho máximo en 100% */
        padding: 0 10px; /* Reduce el espacio a los lados del contenedor */
      }

}

/*Aquí le vamos a dar estilo a la página de administración*/
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.form-container>div {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #e5e5f7;
}

.ctaEliminar {
    display: inline-block;
    background-color: red;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 7px 24px;
    border-radius: 30px;
    margin-top: 10px;
}

.ctaResponder {
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 7px 24px;
    border-radius: 30px;
    margin-top: 10px;
}